.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.title {
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.header {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleteButton,
.openButton {
  background: none;
  border: none;
}

.cellHeader,
.cell {
  display: flex;
  justify-content: center;
}
