.import-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.import-label {
  color: var(--white);
  cursor: pointer;
}

.import-label:hover {
  color: var(--blue);
  transition: all 0.3s ease;
}
