.managers-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.managers-header {
  display: flex;
  justify-content: space-between;
}

.managers-title {
  flex: 2;
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.managers-search {
  flex: 1;
  width: 400px;
}
