.bar-wrapper {
  border-radius: 15px;
  border: 1px solid var(--dark-gray);
  background-color: aliceblue;
}

.diff {
  font-size: 12px;
  font-weight: normal;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.blinking {
  border: 1px solid var(--red);
}

.Sum {
  background-color: #e8f9ff;
}

.AKB {
  background-color: #e7fbe6;
}
