.bar-wrapper {
  border-radius: 30px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.bar-title {
  display: flex;
}

.bar-title .red {
  fill: var(--red);
}

.bar-title .blue {
  fill: var(--blue);
}

.bar-title .orange {
  fill: var(--orange);
}

.bar-title .green {
  fill: var(--green);
}
