.bar-wrapper {
  border-radius: 20px;
  border: 1px solid var(--dark-gray);
}

.bar-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.bar-title .red {
  color: var(--red);
}

.bar-title .blue {
  color: var(--blue);
}

.bar-title .orange {
  color: var(--orange);
}

.bar-title .green {
  color: var(--green);
}

.blinking {
  border: 1px solid var(--red);
  animation: blinker 2s ease-in-out infinite;
}

@keyframes blinker {
  0%,
  100% {
    border-color: var(--dark-gray);
  }
  50% {
    border-color: var(--red);
  }
}
