.bar-wrapper {
  border-radius: 15px;
  border: 1px solid var(--dark-gray);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.blinking {
  border: 1px solid var(--red);
}
