.report-wrapper {
  display: flex;
}

.report-header {
  margin: 0;
  color: var(--white);
  background-color: var(--dark-purple);
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
  text-align: center;
  font-size: 18px;
}

.wrapper {
  display: flex;
  margin: 10px;
  background-color: var(--dark-purple);
  border: 2px solid var(--blue);
  border-radius: 20px;
}

.vertical {
  padding: 10px;
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--white);
  user-select: none;
}
