.reports-wrapper {
  display: flex;
  flex-direction: column;
}

.sales,
.akb {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sales {
  padding: 15px;
}

.akb {
  padding: 15px 15px 15px 0;
}
