.report-wrapper {
  display: flex;
}

.report-header {
  margin: 0;
  color: var(--white);
  background-color: var(--dark-purple);
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
  text-align: center;
  font-size: 18px;
}
