.reports-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 25px;
}

.separator {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--blue);
}
