.report-wrapper {
  height: auto;
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  background-color: var(--dark-purple);
  border-radius: 20px;
}

.report {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vertical {
  padding: 10px 5px;
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--white);
  background-color: var(--black);
  border-radius: 20px;
  user-select: none;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}

.ch-1 {
  height: 100px;
  font-size: 10px;
}

.ch-2 {
  height: 220px;
  font-size: 10px;
}
