.reports-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.sales,
.akb {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.sales {
  border-right: 1px solid var(--black);
}

.separator {
  width: 100%;
  height: 0;
  border-top: 1px solid var(--black);
}

.top-border {
  border-top: 1px solid var(--dark-gray);
}
