.reports-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 25px;
  padding-bottom: 20px;
}

.sales,
.akb {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  border: 2px solid var(--blue);
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.separator {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: var(--blue);
}

.top-border {
  border-top: 2px solid var(--blue);
}
