.reports-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 25px;
  padding-bottom: 20px;
}

.sales,
.akb {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  border-top: 1px solid var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
}

.sales {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 1px solid var(--dark-gray);
  border-right: 1px solid var(--dark-gray);
}

.akb {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-right: 1px solid var(--dark-gray);
}

.separator {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.top-border {
  border-top: 1px solid var(--dark-gray);
}
