.reports-wrapper {
  display: flex;
  flex-direction: column;
}

.sales,
.akb {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sales {
  border-right: 2px solid var(--dark-gray);
}
