.region-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.region-title {
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.region-header {
  display: flex;
  justify-content: space-between;
}

.region-add {
  display: flex;
  gap: 10px;
}

.region-button {
  background: none;
  border: none;
}

.region-header-cell,
.region-cell {
  display: flex;
  justify-content: center;
}
