.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.title-name {
  padding: 0 15px;
  font-size: 22px;
  font-weight: 500;
  border: 2px solid var(--dark-gray);
  border-radius: 30px;
}

.title-separator {
  width: 100%;
  height: 0;
  border-top: 2px solid var(--dark-gray);
}
