.managers-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.managers-title {
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.managers-header {
  display: flex;
  justify-content: space-between;
}

.managers-add {
  display: flex;
  gap: 10px;
}

.managers-button {
  background: none;
  border: none;
}

.managers-header-cell,
.managers-cell {
  display: flex;
  justify-content: center;
}
