.filter-container {
  display: flex;
  gap: 10px;
  margin: 5px 25px 25px;
}

.filter-option {
  width: 220px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px 10px;
  border: 2px solid var(--blue);
  border-radius: 30px;
  color: var(--blue);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.filter-option:hover,
.active-filter {
  background: var(--blue);
  color: var(--white);
  transition: all 0.5s ease-in-out;
}
