.filter-container {
  display: flex;
  gap: 10px;
  margin: 5px 25px 25px;
}

.filter-option {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 3px 20px;
  border: 1px solid var(--dark-gray);
  border-radius: 30px;
  background-color: var(--white);
}

.filter-option:hover,
.active-filter {
  background: var(--dark-gray);
  transition: all 0.5s ease-in-out;
}
