.products-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}

.products-title {
  margin: 0;
  font-size: 30px;
  font-weight: 350;
}

.products-header {
    display: flex;
    justify-content: space-between;
}

.products-add {
    display: flex;
    gap: 10px;
}

.products-button {
    background: none;
    border: none;
}

.products-header-cell,
.products-cell {
    display: flex;
    justify-content: center;
}

