.product-sales,
.product-akb {
  width: 100%;
  border-bottom: 3px solid var(--dark-purple);
}

.product-sales {
  border-right: 3px solid  var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
}

.product-akb {
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
}

.product-header {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: var(--white);
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
}

.product-title {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: var(--white);
  border-bottom: 3px solid var(--dark-purple);
}
