.manager-sales,
.manager-akb {
  width: 100%;
  border-bottom: 3px solid var(--dark-purple);
}

.manager-sales {
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
}

.manager-akb {
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
}

.manager-header {
  margin: 0;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-purple);
  border-right: 3px solid var(--dark-purple);
  border-left: 3px solid var(--dark-purple);
  border-bottom: 3px solid var(--dark-purple);
  font-size: 18px;
}

.manager-title {
  margin: 0;
  text-align: center;
  color: var(--white);
  border-bottom: 3px solid var(--dark-purple);
  font-size: 14px;
}
