.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px 0 20px;
  background-color: var(--white);
  border-bottom: 1px solid var(--dark-gray);
}

.header-link {
  font-size: 15px;
  font-weight: 350;
  text-decoration: none;
  color: gray;
  border-bottom: 2px solid var(--white);
}

.header-link:hover {
  transition: all 0.3s ease-in-out;
  color: var(--black);
}

.header-link_active {
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid var(--blue);
  color: var(--black);
}
