.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 10px 30px;
  background-color: var(--white);
  border-bottom: 1px solid var(--blue);
  z-index: 100;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 5px 10px;
  text-decoration: none;
}

.active-nav {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
}
