.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: var(--dark-purple);
  z-index: 100;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  color: var(--white);
  text-decoration: none;
}

.active,
.nav-button:hover {
  color: var(--blue);
  transition: all 0.3s ease;
}
