.header {
  position: sticky;
  top: 5px;
  display: flex;
  justify-content: space-between;
  margin: 5px 25px 25px;
  padding: 10px;
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  padding: 2px 20px;
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}

.nav-button:hover,
.active-nav {
  transition: all 0.5s ease-in-out;
  background-color: var(--blue);
  color: var(--white);
}

.nav-button:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}
